
    @import url('root.css');

    * {

        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    body {

        height: 100dvh;
        width: 100dvw;

        background: var(--bgDefault);

        font-family: var(--classique);
        font-size: 0.917em;

        color: var(--fgDefault);
        background: var(--bgDefault);

    }

    a, ul, ol, li, tr, td, th {

        color: var(--fgDefault);
        
    }

    .scroll-container::-webkit-scrollbar {

        display: none;

    }

    .terminal-container {
        
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        align-items: center;

        gap: 10px;
    
    }

    .robco-header {

        width: 50%;

        display: flex;

        justify-content: center;
        justify-items: center;
        align-items: center;

        height: 17%;

        /* border: 1px solid var(--fgDefault); */

    }

    .robco-header::after {

        content: "ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM" "\a" "COPYRIGHT 2075-2077 ROBCO INDUSTRIES" "\a" "-Server 9-";
        text-align: center;
        white-space: pre;

    }

    .widget-container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-auto-flow: column;

        width: 50%;

        gap: 3px;

        padding-bottom: 5px;

        border-bottom: 2px solid var(--fgDefault);

    }

    .widget {

        width: 100%;
        color: var(--fgDefault);

        box-sizing: border-box;

    }

    .widget:nth-child(3), .widget:nth-child(4) {

        text-align: end;

    }

    .terminal-menu {

        width: 50%;
        height: 60%;
        max-height: 60%;

        padding: 10px 0 10px 0;

        display: flex;
        flex-direction: column;

        justify-content: flex-start;

        gap: 10px;

        /* border: 1px solid var(--fgDefault); */

    }

    .terminal-item {

        display: flex;

        padding: 2px;

    }

    .terminal-item:hover{
        
        background: var(--fgDefault);
        color: var(--bgDefault);

    }

    .terminal-item::before {

        content: ">\20";
        white-space: pre;

    }


    .content-viewer {

        width: 50%;
        height: 60%;
        max-height: 60%;
        
        overflow-y: auto;

        padding: 10px 0 10px 0;

        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        text-align: justify;

        /* border: 1px solid var(--fgDefault); */

        -ms-overflow-style: none;
        scrollbar-width: none;

        display: none;

    }

    .image-container {

        /* border: 1px solid var(--fgDefault); */

        display: flex;

        justify-content: center;
        align-items: center;

        max-width: 100%;
        max-height: 100%;

        width: max-content;

        overflow: hidden;

    }

    .image-container img {

        max-width: 100%;
        height: auto;
        display: block;

    }

    .status-message {

        width: 50%;
        display: flex;
        justify-content: flex-start;

        padding: 2px;

        /* border: 1px solid var(--fgDefault); */

    }

    .status-message::before {

        content: ">\20";
        white-space: pre;

    }

    .status-message::after {

        content: " " "█";
        white-space: pre;
        animation: caretBlink 1s steps(1) infinite;

    }

    .card {

        display: flex;
        flex-direction: column;

        gap: 12px;

        margin-bottom: 32px;

        color: var(--fgDefault);

        box-sizing: border-box;

        /* border: 1px solid var(--fgDefault); */

    }

    .card:last-child {

        margin-bottom: 0;

    }


    .card-title {

        margin: 0;

    }


    .card-middle-row {

        display: flex;
        flex-direction: row;
        
        width: 100%;
        
    }

    .field-badges {

        flex: 0 0 50%;
        display: flex;

        justify-content: flex-start;
        gap: 6px;

    }

    .field-text {

        flex: 0 0 50%;
        text-align: right;

    }

    .card-description {

        margin: 0;

    }

    .badge {

        background: var(--fgDefault);
        color: var(--bgDefault);
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 0.8rem;

    }

    @keyframes caretBlink {

        0%, 50% {
            opacity: 1;
        }
        
        50.01%, 100% {
            opacity: 0;
        }

    }



