
    @import url('root.css');

    * {

        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    body {

        height: 100dvh;
        width: 100dvw;

        background: var(--bgDefault);

        font-family: var(--fontDefault);
        font-size: 0.917em;

        color: var(--fgDefault);
        background: var(--bgDefault);

    }

    a, ul, ol, li, tr, td, th {

        color: var(--fgDefault);
        
    }

    .scroll-container::-webkit-scrollbar {

        display: none;

    }

    .terminal-container {
        
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        align-items: center;

        gap: 10px;
    
    }

    .robco-header {

        width: 50%;

        display: flex;

        justify-content: center;
        justify-items: center;
        align-items: center;

        height: 17%;

        /* border: 1px solid var(--fgDefault); */

    }

    .robco-header::after {

        content: "ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM" "\a" "COPYRIGHT 2075-2077 ROBCO INDUSTRIES" "\a" "-Server 9-";
        text-align: center;
        white-space: pre;

    }

    .widget-container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-auto-flow: column;

        width: 50%;

        gap: 3px;

        padding-bottom: 5px;

        border-bottom: 2px solid var(--fgDefault);

    }

    .widget {

        width: 100%;
        color: var(--fgDefault);

        box-sizing: border-box;

    }

    .widget:nth-child(3), .widget:nth-child(4) {

        text-align: end;

    }

    .terminal-menu {

        width: 50%;
        min-width: 0;
        max-width: 100%;

        height: 60%;
        min-height: 0;
        max-height: 60%;

        padding: 10px 0 10px 0;

        display: flex;
        flex-direction: column;

        justify-content: flex-start;

        gap: 10px;

        /* border: 1px solid var(--fgDefault); */

    }

    .terminal-item {

        display: flex;

        padding: 2px;

    }

    .terminal-item:hover{
        
        background: var(--fgDefault);
        color: var(--bgDefault);

    }

    .terminal-item::before {

        content: ">\20";
        white-space: pre;

    }


    .content-viewer {

        width: 50%;
        min-width: 0;
        max-width: 100%;

        height: 60%;
        min-height: 0;
        max-height: 60%;
        
        overflow-y: auto;
        overflow-x: hidden;

        padding: 10px 0 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: justify;

        -ms-overflow-style: none;  
        scrollbar-width: none;

        /* border: 1px solid var(--fgDefault); */
    
    }

    .content-viewer::-webkit-scrollbar {

        display: none;

    }

    .image-container {

        /* border: 1px solid var(--fgDefault); */

        display: flex;

        justify-content: center;
        align-items: center;

        max-width: 100%;
        max-height: 100%;

        width: max-content;

        overflow: hidden;

    }

    .image-container img {

        max-width: 100%;
        height: auto;
        display: block;

    }

    .status-message {

        width: 50%;
        min-width: 0;
        max-width: 100%;

        display: flex;
        justify-content: flex-start;

        padding: 2px;

        /* border: 1px solid var(--fgDefault); */

    }

    .status-message::before {

        content: ">\20";
        white-space: pre;

    }

    .status-message::after {

        content: " " "█";
        white-space: pre;
        animation: caretBlink 1s steps(1) infinite;

    }

    .card {

        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        padding: 12px;
        gap: 12px;
        margin-bottom: 20px;

        border: 1px solid var(--fgDefault);
        border-radius: 6px;

        color: var(--fgDefault);


    }

    .card:last-child {

        margin-bottom: 0;

    }

    .card-section-rows {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
        gap: 12px;
        padding: 0 0 8px 0;
    }

    .card-section-rows:first-child {

        border-bottom: 1px solid var(--fgDefault);

    }

    .card-row {

        flex: 1 1 0px;
        min-width: 0;
        max-width: 50%;
        box-sizing: border-box;

    }

    .card-row:nth-child(even) {

        justify-items: flex-end;

    }

    .card-section-columns {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
        height: auto;

    }

    .card-section-badges {

        height: auto !important;
        width: 100% !important;

        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        align-items: flex-start !important;

    }

    .card-section-badges .badge {

        flex: 0 0 auto;

    }

    .badge {

        background: var(--fgDefault);
        color: var(--bgDefault);
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 0.8rem;
        width: max-content;

        flex-shrink: 0;
    }

    @keyframes caretBlink {

        0%, 50% {
            opacity: 1;
        }
        
        50.01%, 100% {
            opacity: 0;
        }

    }


